COMPOSE_PROJECT_NAME=local-data-stack

POSTGRES_IMAGE=postgres:16
POSTGRES_CONTAINER=local-postgres
POSTGRES_HOST_PORT=15432
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me_postgres_password

REDIS_IMAGE=redis:7.4-alpine
REDIS_CONTAINER=local-redis
REDIS_HOST_PORT=6379
REDIS_USERNAME=app_user
REDIS_PASSWORD=change_me_redis_password

TZ=Asia/Singapore
